#header{
    width: 98%;
    height: 10%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}




#header_icon_section{
    display: flex;
    flex-direction: row;
    padding-top:10px;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-image: url("/TextureBackground01.png");
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    padding: 20px;
    
}

#vital_icons{
    flex:.6;
}

#nonvital_icons{
    flex:.4;
    @media (min-width: 580px) {
        justify-content: right;
    }
}

.LinkedIn_icon{
    background-color: #0072b1;
    padding:8px;
    border-radius: 10px;
    height:40px;
    width:40px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.Github_icon{
    background-color: black;
    padding:8px;
    border-radius: 10px;
    height:40px;
    width:40px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.Meetup_icon{
    background-color: red;
    padding:8px;
    border-radius: 10px;
    height:40px;
    width:40px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Blog_Icon{
    padding:8px;
    border-radius: 10px;
    height:40px;
    border-top: 5px solid aqua;
    border-bottom: 2px solid aqua;
    width:80px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    > h2{
        color: whitesmoke;
        margin-top:-15%;
    }
    
}

.CV_Icon{
    border-left: 5px solid orangered;
    border-right: 5px solid orangered;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height:40px;
    width:40px;
    padding:2%;
    border-radius: 10px;
    
    > h2 {
        
        color: whitesmoke;
    }
}