#main{
    //background-image: url("/TextureBackground02.png");

}

#text_section{
    width: 90%;
    //background-color: whitesmoke;
    margin-left: 5%;
    margin-top: 1%;
    border-radius: 10px;
}