#text_section{
    border-radius: 10px;
    > section{    
        @media (min-width: 580px) {
            margin-top: 3%;
        }
        @media (max-width: 570px) {
            padding-top: 1%;
        }
    }
}