#title{
    text-align:center;
    
    align-self: center;
    padding-top:.5%;
    padding-bottom:.5%;
    > h1 {
        color:whitesmoke;
        
        background-image: url("/TextureBackground01.png");
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        @media (min-width: 480px) {
            font-size:1.2em;
            width:95%;
            margin-left: -20%;
        }
    
        @media (min-width: 580px) {
            font-size:2em;
            width:65%;//58%;
            margin-left: 0;
        }
    }
}

#graph{
    //Style of graph is a bit off for mobile devices
    border-bottom-left-radius: 10px;
    
    > #innerGraph{
        background-color:whitesmoke;
    flex:.6;
    max-width: 58%;
    margin-right:1%;
    //border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:.5%;
    @media (min-width: 480px) {
        //push graph to the left
        left:80%;
        max-width:75%;
        
    }
    @media (min-width: 580px) {
        //leave graph in original format
        left:0;
        max-width:100%;//58%;
    }
    
    }

    @media (min-width: 480px) {
        //push graph to the left
        margin-left:-80%;
        margin-right:-50%;
        
        
    }
    @media (min-width: 580px) {
        //leave graph in original format
        margin-left:0;
        margin-right:0;
        
        
    }
}

#selected{
    flex:.4;
    
    > #selected_title{
        align-self: center;
        align-items: center;
        text-align: center;
        align-content: center;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        vertical-align: center;
        place-items: center;
        //Still not centered?

        > h1{
            @media (min-width: 480px) {
                font-size:1em;
            }
        
            @media (min-width: 580px) {
                font-size:2em;
            }
        }

        background-color: grey;
        flex:.2;
        border-top-right-radius: 10px;
        height:25%;
        padding:2%;

    }
    @media (min-width: 480px) {
        min-width:30%;
    }

    @media (min-width: 580px) {
        min-width:40%;
    }
}

#selected_info{
    flex:.8;
    margin-top:1%;
    background-color: lightgray;
    height:74%;//1% taken up by margin
    padding:5%;
    border-bottom-right-radius: 10px;
    @media (min-width: 480px) {
        font-size:.6em;
    }
    @media (min-width: 580px) {
        font-size:1em;
    }
}

#main{
    //width:80%;
    padding-left:10%;
    padding-right:10%;
    
}