#title{
    text-align:center;
    
    align-self: center;
    padding-top:.5%;
    padding-bottom:.5%;
    > h1 {
        color:whitesmoke;
        
        background-image: url("/TextureBackground01.png");
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        @media (max-width: 570px) {
            font-size:1.2em;
            width:100%;
        }
    
        @media (min-width: 580px) {
            font-size:2em;
            width:53.3%;
            margin-left: 0;
        }
    }
}

#graph{
    border-bottom-left-radius: 10px;
    
    > #innerGraph{
        background-color:whitesmoke;
        flex:.6;
        max-width: 58%;
    
        
        padding:.5%;

        max-width:100%;
        @media (max-width: 570px) {
            left:80%;
            > div > svg {
                max-width:100%;
            }
        }
        @media (min-width: 580px) {
            border-bottom-left-radius: 10px;
            left:0;
            > div > svg {
                max-width:100%;
            }
        }
    }

    @media (max-width: 570px) {
        padding:-100%
    }
    @media (min-width: 580px) {
        margin-left:0;
        margin-right:1%;
    }
}

#selected{
    background-color: rgba(0, 0, 0, 0.514);
    
    > #selected_title{
        align-self: center;
        align-items: center;
        text-align: center;
        align-content: center;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        vertical-align: center;
        place-items: center;
        
        flex-direction: row;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        > h1{
            flex:.8;
            @media (max-width: 570px) {
                font-size:1em;
            }
        
            @media (min-width: 580px) {
                font-size:2em;
            }
        }

        > #toSelected{
            flex:.2;
            background-image: url("/TextureBackground03.png");
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding:1%;
            border-radius: 10px;
            margin-left:5%;

            @media (max-width: 570px) {
                font-size:.8em;
                
            }
        
            @media (min-width: 580px) {
                font-size:1em;
                
            }

        }

        > #toSelected:hover{
            background-image: url("/TextureBackground01.png");
        }

        background-color: rgba(128, 128, 128, 0.288);
        
        color:whitesmoke;
        flex:.2;
        
        height:25%;
        padding:2%;
        margin:1%;

        @media (max-width: 570px) {
            min-width:80%;
        }
    
        @media (min-width: 580px) {
            border-top-right-radius: 10px;
        }

    }
    @media (max-width: 570px) {
        min-width:90%;
        flex:.8;
        margin-top:1%;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    @media (min-width: 580px) {
        border-bottom-right-radius: 10px;
        min-width:40%;
        flex:.4;
        border-top-right-radius: 10px;
    }


    > #selected_info{
        margin:1%;
        flex:.8;
        margin-top:1%;
        background-color: rgba(245, 245, 245, 0.815);
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
        border-bottom-right-radius: 10px;
        @media (max-width: 570px) {
            font-size:.8em;
            border-bottom-left-radius: 10px;
            padding:1%
        }
        @media (min-width: 580px) {
            font-size:1em;
            padding:2%;
        }
    }

}

#main{
    padding-left:1%;
    padding-right:1%;
    padding-top:.5%;
    @media (max-width: 570px) {
        margin-top: -30%;

    }
    @media (min-width: 580px) {
        margin-top:10%;
        
    }
}

#content_section{
    @media (max-width: 570px) {
        flex-direction: column;


    }
    @media (min-width: 580px) {
        flex-direction: row;
        
    }
}