#container{
    @media (min-width: 580px) {
        margin-bottom: -8%;
        width:97%;
        height:350px;
    }
    //position: absolute;
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 10px;
    @media (max-width: 570px) {
        width:97%;
        height:50%;
        margin-top:-30%;
    }
    
    margin-left:1%;
    
    > #skill_area{
        position: absolute;
        width:100%;
        @media (min-width: 580px) {
            height: 90%;
        }
        @media (max-width: 570px) {
            scale:.8;
            height:90%;
            
            > div {
                margin-left:-5% !important;
            > div {
                > p{
                    @media (min-width: 580px) {
                        margin-top:15%;
                    }
                    scale:.95
                }
            }}
        }
    }

}


> #skill{
    
    background-color: whitesmoke;
    @media (min-width: 580px) {
        padding:1%;
    }
    > p{
    opacity: 0;
    }
}

> #skill:hover{
    > p{
    opacity: 1;
    }
}
